//ESTILOS PAGINA ERROR 404
.container-404 {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h1 {
        font-size: 4rem;
        color: #333;
    }

    p {
        font-size: 1.2rem;
        color: #666;
    }

    a {
        color: #007BFF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}