.section-container {
    @include flex-column;
    align-items: center;
    gap: 1rem;

    h1 {
        padding: 1rem;
        text-align: center;
        background-color: #00317a;
        color: #fff;
    }

    p,
    form {
        border-top: 1px solid #00317a;
        padding: 1rem;
        text-align: justify;
        line-height: 1.8rem;

    }


}

.section-article {
    @include grid-1fr;
    margin: 0;
    text-align: center;

}



@media(min-width:768px) {
    .section-container {

        h2,
        p {
            max-width: 700px;
            width: 70%;
            margin:  0 auto;


        }

    }
}

@media(min-width:1024px) {}