table {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid #000;
        border-top: none;

        th,
        td {
            padding: 1rem;
            width: 100%;
        }

        th {
            background-color: #00317a;
            color: #fff;
        }

        &:first-child {
            border: 1px solid #000;
        }

        &:nth-child(4n) {
            margin-bottom: $margin;
        }

        &:last-child {
            border-top: none;

        }
    }

}

@media(min-width:768px) {
    table {
        display: grid;
        width: 70%;
        max-width: 700px;
        gap: 0;

        tr {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}