@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table {
    display: flex;
    flex-direction: column;
    padding: 1rem;


    tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid #000;
        border-top: none;

        th,
        td {
            padding: 1rem;
            width: 100%;
        }

        th {
            background-color: #00317a;
            color: #fff;
        }

        &:nth-child(-n+4) {
            
            -webkit-animation: fadein 2s;
            /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 2s;
            /* Firefox < 16 */
            -ms-animation: fadein 2s;
            /* Internet Explorer */
            -o-animation: fadein 2s;
            /* Opera < 12.1 */
            animation: fadein 2s;
        }
        
        &:nth-child(4n) {
            margin-bottom: $margin;
        }

        &:last-child {
            border-top: none;

        }
    }

}

@media(min-width:768px) {
    table {
        display: grid;
        width: 70%;
        max-width: 700px;
        gap: 0;

        tr {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}